<h1>Welcome to NewCourse Survey!</h1>

<%# Button to Location page for survey %>
<%= link_to 'Practitioner', '#', class: 'button' %>

<%# Button to admin section to add/remove/edit survey questions %>
<%= link_to 'Admin', '#', class: 'button' %>
